<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Name</mat-card-title>
    <mat-card-subtitle>website.com</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/912x790.png">
  <mat-card-content>
    <p>This is some text</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="primary">DELETE</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>
  </mat-card-actions>
</mat-card>
